html{
	background-color:#009688;
	 
    }

header{color:#84ffff;}

h1{}

nav{
	background-color:#26a69a;
        
   }

a{padding:1em;text-decoration:none;color:#795548;}

a:hover{background-color:#4db6ac;}


article{color:#004d40;font-family:COMIC SANS MS;}
